*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
 body{
    background-color: #e0e0e0   ;
  }
  .header {
    height:60px;
    width:100%;  
    background-color: rgb(138, 138, 138); 
}
.header h1{
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    color: #000;
}
  .nav{
    float: right;
    margin-right: 150px;
    text-align: center;
  }
  .nav ul {   
      list-style: none;
      margin-top: 17px;
  }
  .nav ul :hover {
      list-style: none;
      color: rgb(255, 255, 255);
      cursor: pointer;;
  }
  .nav ul li {
      display: inline-block;
      margin-left: 25px;
  }
  .nav ul li a {
      text-decoration: none;
      font-size: 20px;
      color: black;   
      display:block;
  }
  .nav .fa{
      margin-left: 8px;
  }
.wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    background: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 4px 4px rgba(254,236,164,1); 
  }
.wrapper h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #332902;
  }
.wrapper .input_field{
    margin-bottom: 10px;
  }
.wrapper .input_field input[type="text"],
.wrapper textarea{
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;
  }
.wrapper textarea{
    height: 80px;
  } 
.wrapper .btn input[type="submit"]{
    border: 0px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background: #fece0c;
    color: #332902;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
  } 
#error_message{
    margin-bottom: 20px;
    background: #fe8b8e;
    padding: 0px;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
}
  